<div class="question-group">
	<div class="form-group">
		<label>Type</label>

		<select onchange={{action (mut question.type) value="target.value"}}>
			{{#each types key="@index" as |type|}}
				<option value={{type.value}} selected={{is-equal type question.type}}>
					{{type.label}}
				</option>
			{{/each}}
		</select>
	</div>

	{{component questionComponent question=question}}
</div>